### Capital Asset Pricing Model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from pandas_datareader import data as wb

In [2]:
from iexfinance.stocks import Stock, get_historical_data

start = datetime(2018, 1, 1)
end = datetime(2023, 3, 23)

api_key = 'pk_6083fdda34d8496a8401a87232578e3f'

In [9]:
tickers = ['PG', 'IVV']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = get_historical_data(t, start, end, output_format = 'pandas', token=api_key)['close']

In [4]:
sec_data = sec_data.astype('float64')
sec_data

                PG     IVV
2018-01-02   90.65  270.85
2018-01-03   90.54  272.42
2018-01-04   91.18  273.60
2018-01-05   91.24  275.33
2018-01-08   91.72  275.94
...            ...     ...
2023-03-17  142.93  393.17
2023-03-20  145.13  397.07
2023-03-21  144.08  402.23
2023-03-22  143.99  395.49
2023-03-23  143.79  394.84

[1315 rows x 2 columns]

In [5]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns

                  PG       IVV
2018-01-02       NaN       NaN
2018-01-03 -0.001214  0.005780
2018-01-04  0.007044  0.004322
2018-01-05  0.000658  0.006303
2018-01-08  0.005247  0.002213
...              ...       ...
2023-03-17  0.000280 -0.011933
2023-03-20  0.015275  0.009870
2023-03-21 -0.007261  0.012911
2023-03-22 -0.000625 -0.016899
2023-03-23 -0.001390 -0.001645

[1315 rows x 2 columns]

In [6]:
cov = sec_returns.cov()*250
cov

           PG       IVV
PG   0.046865  0.027255
IVV  0.027255  0.047270

In [7]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.027254514677948163

In [8]:
market_var = sec_returns['IVV'].var()*250
market_var

0.04727006462806297

### Beta

### $$ 
\beta_{pg} = \frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [10]:
PG_beta = cov_with_market/market_var
PG_beta

0.5765702859176521

### Calculating Expected Return of P&G (CAPM)

In [15]:
PG_ER = 0.0351 + PG_beta * 0.0594
PG_ER

0.06934827498350854

### Sharpe Ratio

In [18]:
Sharpe = (PG_ER - 0.0351)/(sec_returns['PG'].std()*250**0.5)

In [19]:
Sharpe

0.15820263045714866